@model ELearning.Models.Test

@{
    ViewData["Title"] = "Evaluare";
    var color = "";
}

@section Scripts{
    <script type="text/javascript" src="~/js/tests.js"></script>
}

<form asp-action="">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Name" class="form-control" type="text" placeholder="Titlul testului" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>


    @foreach (var sectionn in Model.Sections)
    {
        <div class="section-container">
            <h4 class="tm-gold-text tm-title">@sectionn.Concept.Name</h4>
            @foreach (var question in sectionn.SectionQuestions)
            {
                <div class="question-container">
                    <h5>@question.Question.Text</h5>
                    <input type="number" value="@question.QuestionId" hidden />
                    <ul>
                        @foreach (var a in question.Question.Answers)
                        {

                            <li>
                                <input type="number" value="@a.Id" hidden />
                                @if (a.Correct)
                                { color = "green"; }
                                else
                                { color = "red"; }
                                <svg width="10" height="10" class="corectness-of-answers">
                                    <circle cx="5" cy="5" r="4" fill="@color" />
                                </svg>
                                <input type="checkbox" class="form-control answer-input" /> @a.Text
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    }
    <div class="form-group right-buttons">
        <a asp-action="StudentIndex" class="tm-btn" style="display:none;" id="back-to-tests-button">Inapoi la teste</a>
        <input type="submit" value="Vezi rezultat" class="tm-btn" id="finish-test-button" />
    </div>
</form>

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="text-align:center; width:250px;">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Rezultatul tau: </h4>
                <h3 class="tm-gold-text"></h3>
            </div>
        </div>
    </div>
</div>

